HEADER
.hero-img {
    background-image: url('../img/hero-img_1920.jpg');
}

//PRICING
.price-box {
    width: 320px;
    height: 500px;

    &__title {
        font-size: 32px;
    }

    &__price {
        font-size: 38px;
    }
}

//MILESTONES

.milestone-box {

    &__number {
        margin-bottom: 15px;
        font-size: 50px;
        
    }

    &__name {
        margin-bottom: 10px;
        font-size: 24px;
    }

    &__description {
        font-size: 18px;
    }
}

//CONTACT
.contact-about {

    &__title {
        font-size: 38px;
    }

    &__description {
        font-size: 20px;
    }

    &__icons {
        font-size: 34px;
    }
}