@import 'colors';

.scroll-fix::before {
    height: 70px;
    margin-top: -70px;
}

//NAVBAR
.navbar {

    &__nav {
        height: 70px;
    }

    &__items {
        display: block;
    }

    &__item {
        padding: 15px 13px;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: $color-main;
        }
    }
}

.mobile-navbar {
    left: -100%;
    transition: left .3s;
}

.logo {
    font-size: 30px;
}

.hamburger {
    display: none;
}


//HEADER
.hero-img {

    &__container {
        margin-left: 15px;
        width: 100%;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -30%);
        width: auto;
    }

    &__text {
        font-size: 38px;
        letter-spacing: 2px;
        text-align: left;
    }
}

.main-button {
    &--hero-center {
        margin: 0;
    }
}

//SERVICES
.services-container {
    flex-direction: row;
    justify-content: space-between;

}

.service {
    margin: 0 20px 70px;
}

//ABOUT
.about-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 45px 30px;

}

.about-us {
    max-width: 600px;
    text-align: left;

    &__title {
        font-size: 58px;

    }

    &__description {
        font-size: 20px;

    }
}

.first-half {
    justify-content: center;
    margin-bottom: 40px;

}

// PORTFOLIO
.project {
    margin: 60px 0 50px;
}

//PRICING
.pricing-container {
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.price-box {
    width: 250px;
    height: 400px;

    &__title {
        font-size: 28px;
    }

    &__price {
        font-size: 34px;
    }

    &__description {

        i {
            padding-right: 10px;
        }
    }
}


//MILESTONES
.milestones-container {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0 60px;
}

.milestone-box {
    max-width: 500px;
}

//CONTACT
.contact-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    padding: 45px 0 60px;
}

.contact-about {
    justify-content: unset;
    align-items: unset;
    margin: 0;

    &__description {
        text-align: unset;
    }

    &__icons {
        i {
            margin: 0 25px 0 0;
        }
    }

}

.contact-about {
    max-width: 700px;
    padding: 0 35px;
}

.contact-form {
    max-width: 500px;
    padding: 0 35px;
}