@import 'colors';

//NAVBAR
.navbar {

    &__nav {
        height: 70px;
    }

    &__items {
        visibility: visible;
    }

    &__item {
        padding: 15px;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color:  $color-main;
        }
    }
}

.mobile-navbar {
    left: -100%;
    transition: left .3s;  
}

.logo {
    font-size: 30px;
}

.hamburger {
    display: none;
}


//HEADER
.hero-img {

    &__container {
        width: 100%;
        top: 50%; //4
        left: 30%;
        transform: translate(-50%, -30%);
        width: auto;
    }

    &__text {
        font-size: 36px;
        text-align: left;
    }
}

.main-button {
    margin: 0;
}