* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

//NAVIGATION
.navbar {
    background-color: #060606;
    position: fixed;
    width: 100%;
    z-index: 1;   

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        height: 60px;
    }

    &__items {
        display: flex;
        visibility: collapse;
    }
}

.mobile-navbar {
    position: absolute;
    left: -100%;
    transition: left .3s .2s;

    &-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: #000000;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 70%;
        width: 100%;
    }

    &__item {
        font-size: 16px;
        padding: 10px 50px;
        color: #ffffff;
        text-decoration: none;
        transition: color .3s;
    }

    &--show {
        left: 0;
    }
}

.logo {
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;

    &--color {
        color: #47ea4e;
    }
}

.hamburger {
    height: 100%;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger__box {
    position: relative;
    display: inline-block;
    height: 80%;
    width: 40px;
}

@mixin hamburger-line($val) {
    position: absolute;
    left: 0;
    top: $val;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
}

.hamburger__inner {
    @include hamburger-line(50%);
    transition: background-color .1s .2s;
}

.hamburger__inner::before {
    @include hamburger-line(-10px);

    content: '';
    transition: transform .2s .2s;
}

.hamburger__inner::after {
    @include hamburger-line(10px);

    content: '';
    transition: transform .2s .2s;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}