
//HEADER
.hero-img {

    &__container {
        top: 50%;
        transform: translate(-50%, -50%);
        
    }

    &__text {
        font-size: 28px;
    }
}

//SERVICES
.service {
    margin-bottom: 70px;
    min-height: 240px;

    &__icon {
        font-size: 70px;
    }

    &__name {
        font-size: 36px;
        margin-bottom: 15px;
    }

    &__decription {
        font-size: 20px;
    }
}

//PORTFOLIO
.project {    
    
    &__img:hover {
        transform: scale(1.1);
    }
    
    &__description {
        margin-top: 20px;
        visibility: collapse;
        transition: visibility .15s;
    }
    
    &__img:hover~.project__description {
            visibility: visible;
        }
}